<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myReal trip clone</title>
    <style>
      div {
        margin: 5px;
        padding: 5px;
        border: 1px;
        width:  1000px;
        text-align: center;
      }
      ul{
        overflow: hidden;
      }
      li{
        border: 1px;
        width: 80px;height: 40px;
        float: left;
        list-style: none;
        text-align: center;
        line-height: 40px;
      }

    </style>

</head>
<body>
  <div>
    my real trip <input type="text"  placeholder="도시나 상품을 검색해보세요"> <button>검색</button>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 파트너 등록하기 로그인 회원가입
  </div>
  <div>
    <ul>
      <li>홈 </li>
      <li>항공권 </li>
      <li>국내숙소 </li>
      <li>투어티켓 </li>
      <li>렌터카 </li>
      <li>일본여행 </li>
      <li>패키지 </li>
      <li>호캉스 </li>
      <li>여행자보험 </li>
      <li>더보기 </li>
      
    </ul>
    
    
  </div>

  <div style="width: 900px;height: 300px; float: left;">
    
    <div style="width: 600;height:300px;float: left;"> 여행지소개</div>
    <div style="width: 200;height: 300px; float: left;"></div>

  </div>

  <div style="width: 900px;height: 100px;line-height: 100px;"></div>
</body>
</html>
