
body {
    margin : 0;
}

.footer{
    /*  */
    display: flex;
    flex-direction: row; 
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
    list-style-type: none;
}

.footer-item{
    float: left;
    padding: 15px;
    cursor: pointer;
}

.footer-item a{
    text-align: center;
    text-decoration: none;
    color: white;
}